main {
	max-width: 650px;
	margin: 80px auto 0 auto;
}
.objects {
	padding: 50px 0 100px;
	background: #fff;

	.headline-objects {
		color: #322f30;
		font-family: 'Dancing Script', cursive;
		font-size: 70px;
		margin-bottom: 40px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 200px;
			height: 5px;
			transform: translateX(-50%);
			  border-bottom: 5px solid rgb(185, 31, 95);
		  }
	} 
}

.about-us {
	text-align: center;
	.headline-about {
		font-family: 'Dancing Script', cursive;
		font-size: 70px;
		margin-bottom: 20px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 200px;
			height: 5px;
			transform: translateX(-50%);
			  border-bottom: 5px solid rgb(185, 31, 95);
		  }
	} 

	.text-about {
		font-family: 'Merienda+One', cursive;
		font-size: 22px;
		margin-bottom: 15px;
		text-align: left;

		&:first-of-type{
			&::first-letter {
				font-size: 52px;
				letter-spacing: 8px;
			}
		}

		&:last-of-type {
			margin-bottom: 40px;
		}

		span {
			&::before {
				content: "\A";
				white-space: pre;
			}
		}

	}

	.signature-aldi {
		text-align: right;
		font-family: 'Dancing Script', cursive;
		font-size: 40px;
		margin-bottom: 40px;
		position: relative;
		font-weight: 500;

		&::first-letter {
			font-size: 52px;
		}
	}
}
.work-time {
	padding: 100px 0;
	background: #fff;
	color: #322f30;
	h4 {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: -15px;
			left: 50%;
			width: 200px;
			height: 5px;
			transform: translateX(-50%);
			border-bottom: 5px solid rgb(185, 31, 95);
		  }
	}

	.work-days-icon {
		background-image: url( '../assets/clock1.svg' );
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		width: 100px;
		height: 100px;
		margin: 0 auto 20px;
	}
}